@use './variables.scss' as *;
@use './mixins.scss' as *;

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-base;
}

/* main */
.wrapper {
    background-color: $background-color;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    padding: 96px 0px;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    &__title {
        font-size: 48px;
        color: #FFF;
        letter-spacing: 10px;
    }
}

.toggle-icon {
    width: 36px;
    height: 36px;
}

/* task add */
.task-add {
    display: flex;
    gap: $spacing-s;
    background-color: #FFF;
    border-radius: $border-radius;
    padding: $spacing-s $spacing-m;
    margin: $spacing-m 0px;
    &__input {
        @include secondary-text;
        border: none;
    }
}

/* task list */
.task-list {
    background-color: #FFF;
    border-radius: $border-radius;
    &__item {
        @include text;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $spacing-s;
        padding: $spacing-s $spacing-m;
        border-bottom: 1px solid $slightlight-text-color;
    }
    &__item__description {
        margin-left: 10px;
        flex-grow: 1;
    }
}

.checkbox {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid $slightlight-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    &-icon {

    }
    &--active {
        background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }
}

.remove-button {
    justify-content: end
}

.task-container {
    @include light-text;
    display: flex;
    justify-content: space-between;
    padding: $spacing-s $spacing-m;
}


/* filters */
.filter {
    &__container {
        @include secondary-text;
        display: flex;
        gap: $spacing-s;
    }
    &--active {
        color: $active-color;
    }
}

/* media */
@media (min-width: 577px) {
    .wrapper {
        background-image: url('../assets/bg-desktop-light.jpg');
    }
}

@media (max-width: 576px) {
    .wrapper {
        background-image: url('../assets/bg-mobile-light.jpg');
    }
}