/* colors */
$primary-text-color: hsl(235, 19%, 35%);
$secondary-text-color: hsl(236, 9%, 61%);
$background-color: hsl(0, 0%, 98%);
$light-text-color: hsl(233, 11%, 84%);
$slightlight-text-color: hsl(236, 33%, 92%);
$active-color: hsl(220, 98%, 61%);

/* fonts */
$font-family-base: 'Josefin Sans', sans-serif;
$font-size: 18px;

/* border */
$border-radius: 14px;

/* spacing */
$spacing-s: 20px;
$spacing-m: 24px;